
.gradient {
  background-image: linear-gradient(rgb(33, 44, 57), rgb(18, 30, 61) 50%, rgb(0, 0, 0));;
}

.loginContent {
  width: 100%;

  //position: relative;


  @media (width > 1200px) {
    width: 1000px;
  }
  @media (width > 650px) and (width < 1200px) {
    width: 600px;

  }
}


.loginMain {
  @media (width < 650px) {
    margin-left: 0;
    margin-right: 0;
    padding: 1.5rem 0 0 0 !important;
  }
}
